 /* @font-face */
 
  @font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/CWlc_g68BGYDSGdpJvpktgLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2'), url(http://fonts.gstatic.com/s/ptsans/v8/7YGmE4Ls5b94ct65u07hVQLUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}

   /*image icon */
  
   #history {
      background-image: url("../images/mc.png");
      background-repeat: no-repeat;
      height: 100px;
      padding: 2px 0 0 35px;
      display: inline-block;

}

/* body, font-family, font-size, font-weight, line_height, text-align, background-color                                  font-weight, hsl color, font-style, gradient-background, fonts size ems and liquid layout percentages */

body {
	font-family: PT Sans, Verdana, sans-serif;
    font-size: 1.000em;
    width: 90%;
    background: linear-gradient(to bottom, #ffa470 1%,#ff5805 54%);
    line-height: 150%;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
    
}
 table {
   width:39% auto;
   margin: 10px auto;
}
  th, td {
   padding: 7px 10px 10px 10px auto;
   margin: 10px auto;  
   text-align: center;

   
}
  th {
  text-transform: uppercase;
  letter-spacing: 0.lem;
  font-size: 90%
  border-bottom: 2px  solid #00000;
  border-top: 1px  solid #000000;
  text-align: center;
  margin: 10px auto;
 
}
  tr.even {
  background-color: #FACE4B; 
   
}
  tr {
  background-color: #ff5805; 
   
}
  tr:hover {
background-color: #c3e6e5;  
  
}


/* floated elements left/right, width/padding/margin */
  
   #seccontent {
   float:right;
   width:40%;
   padding: 3%;
   margin-right: 2%;

}
   
   
   #content {
   float:left;
   width: 40%;
   padding: 4%;
   margin-left: 2%;
  
}     
   



/* list-style-type, box-shadow, display, and background-image/background-repeat */
   
  p {
  background-color: hsla(24,100%,50%,1);
  background-image: url("../images/bonfire.png");
  padding: 25px;
  margin: 0 auto 0 auto;
  box-shadow: 2px 1px 2px 1px #000;
  line-height: 150%;
  text-align: center
;
}
 /* clear */   

 .clear {
  clear: both;

}

ul {
    list-style-type: none;
    text-align:center;
    width:  auto;
    border-top: 2px solid #000;
    margin: 10px auto;
    display: inline-block;
    
}
 li {
    border: 1px solid orange;
    width: 175px;
    padding: 25px;
    margin: 20px;
    display: inline-block;
 }   

  img.medium {
     width: 400px;
     height:400px;
}
      
      
/* foreground color, and container 
 
    #container{
    border: 1px solid #000000;
    background-color: #f7eede;
    padding:10px; 

} */

/* background-repeat image and background-position */

#container {
      width: 90%;
      border: 4px double #000;
      background-image: url("../images/harley wallpapers.jpg");
      background-repeat: repeat-x;
      background-position: center bottom;
      background-color: #f7eede;
      padding: 20px; 
      margin: 10px auto;
      overflow: auto;
}    



/* paragraph-background-color, h1-h3 color and text-shadow, hsla color, rgb color and hex color */
        
 
  p {
    background-color: hsla(24,100%,50%,1);
} 

 

 
 h1, h2, h3 {
	color: #7d4403;
}	
 h1, h2, h3 {
            text-shadow: 2px 2px rgb(250,166,40);  
    
}
  
/* paragraph border-radius ,margin-center*/    

   p {   
    border-radius: 5px 20px 10px 5px;
}   
   p {
    margin: 10px auto;
   
}

/* a:link, a:visited, a:hover, and a:active */

   a:link {
    color: #F5BD07;
    text-decoration: none;
}
   a:visited {
    color:#000000;
}
   a:hover {
    color: #7d4403;
    text-decoration: underline;
}
   a:active {
    color: #0CA893;
}              



/* list-style-type, box-shadow, display */


   	
/*Id of "container"*/

/*Headings*/
	
